.center{
text-align: center;
display: block;
margin: 0 auto;
}
h1{
  color: #007A21;
}
h3{
  color: #007A21;
}
li{
  display: inline;
  padding: 10px;
  font-size: 20px;
}
body{
  background-attachment: scroll;
  background-image: url(../images/seth-macey-723785-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
}
